<h3>Comments</h3>
  <form id="update_form" action="/update/{{item._id}}"  method="post">
    Date: </br>
    <input class="block" type="text" name="username" value="{{item.date}}"></input>
    </br>
    Category: <input class="block" name="category" value="{{item.category}}"></input>

    <input type="submit" class="btnSmall" value="UPDATE" ></input>
  </form>
</section>
