
<!--
12 COLUMNS
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1 bg-warning">1</div>
    <div class="col-lg-1 bg-info">2</div>
    <div class="col-lg-1 bg-danger">3</div>
    <div class="col-lg-1 bg-success">4</div>
    <div class="col-lg-1 bg-warning">5</div>
    <div class="col-lg-1 bg-info">6</div>
    <div class="col-lg-1 bg-danger">7</div>
    <div class="col-lg-1 bg-success">8</div>
    <div class="col-lg-1 bg-warning">9</div>
    <div class="col-lg-1 bg-info">10</div>
    <div class="col-lg-1 bg-danger">11</div>
    <div class="col-lg-1 bg-success">12</div>
  </div>
</div> -->

<div class="container">
  <h1>new post</h1>
  <div class="row">
    <textarea class="col-lg-6" id="newPost" placeholder="New Post!"></textarea>
  </div>
  <div class="row">
    <button id="publish">publish</button>
    <!-- DELETE BUTTON
    <form method="post" action="/delete/{{_id}}"><button id="delete">X</button></form> -->
  <div>
  <div class="row">
    <div id="allPosts"></div>
  </div>
</div>
