<h1>Welcome to your User Page</h1>

{{!-- DISPLAY USERNAME --}}
<div>user: {{user.login}}</div>
<div><img src='{{user.avatar_url}}'></div>
{{!-- DISPLAY LINK TO LOGOUT OF SESSION --}}
<a href='/auth/logout'>Logout</a>
